# Ignore Python bytecode files


.env
*.pyc
__pycache__/
*.pyo
*.pyd
*.db
*.sqlite
*.egg-info/
*.egg
*.log
*.DS_Store
*.coverage
*.cover
*.hypothesis/
*.hypothesis/
*.tox/
*.coverage.*
*.coveragerc  


pvars.sh

# Ignore Jupyter Notebook checkpoints
#tools/quantum-account.py
test.py
*test.py
tools/q-account.py
q-account.py

unit-test.py
#quantum-account.py 
# Ignore virtual environment directories
venv/
env/
# Ignore IDE/editor specific files
.idea/  
.vscode/
*.sublime-project
*.sublime-workspace
# Ignore backup files
*~
*.bak
*.swp
# Ignore distribution files
dist/